.fieldWidgetContainer {
  padding: 5px;
  padding-bottom: 50px;
}
.fieldHeaderContainer {
  padding-top: 50px;
  /* padding-left: 10px;
  padding-right: 10px; */
}
.advisory {
  /* background: #f2ecfd; */
  background: #f4f4f4
  padding: 0px !important;
  /* padding-top: 30px !important;
  padding-left: 5px !important;
  padding-right: 5px !important; */
  padding-bottom: 30px !important;
}
.fieldWidgetContainer:nth-child(even) {
  /* background: #f2f2f2; */
  background: #fafafa;
}
.fieldWidgetContainer:nth-child(odd) {
  background: #eceff1;
}

.fieldWidgetButtonsContainer {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5px;
}

.fieldWidgetHideButton {
  margin: 0 5px;
  padding: 1em 2em;
}
.fieldWidgetViewMoreButton {
  padding: 1em 2em;
}
.fw_dashbaordContainer {
  padding: 0px !important;
}

.dataWidgetContainer {
  padding-top: 1.5em !important;
  padding-bottom: 2em;
}

a.active {
  background: #f2ecfd !important;
}

.m-fadeOut {
  height: 0;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: visibility 0s linear 300ms, opacity 300ms, height 500ms;
}
.m-fadeIn {
  display: grid;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
