body {
  background-color: #ffffff;
}
.containeryakwanza {
  padding: 100px;
}

.bannerContainer {
  padding-top: 5em;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.banner {
  background-image: url(https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) !important;
  background-size: cover !important;
  background-position: center center !important;
}

/*veritcal text*/

.contentBlock {
  background-color: #f2c318 !important;
}

.menu {
  /* background-color: #ffffff !important; */
  /* color: #000000 !important; */
  color: #ffffff !important;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.logoText {
  font-size: 1.5em;
  font-family: "Aldrich", sans-serif;
  color: #ffffff;
  margin: 0px;
}
.heading {
  color: black;
  font-size: "2.5em";
  font-weight: "normal";
  margin-bottom: 0;
  margin-top: "5em";
}
.headingDescription {
  font-size: 0.5em;
}
.headingDescription {
  position: absolute;
  white-space: nowrap;
  animation: floatText 5s infinite alternate ease-in-out;
}

@-webkit-keyframes floatText {
  from {
    left: 00%;
  }

  to {
    /* left: auto; */
    left: 100%;
  }
}

.description {
  font-size: 1.33em;
}
.heading {
  font-family: "Aldrich", sans-serif;
}

.featuerHeader {
  padding-bottom: 2em;
  font-weight: lighter;
}
.featuresContent {
  padding-top: 4em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
.featureCard {
  background: #f4f4f4;
  padding: 15px 10px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.mainCard {
  margin-bottom: 25px;
}
.advisoryCard {
  background: #f2ecfd;
  padding: 15px 10px;
  border-radius: 5px;
  padding-bottom: 30px;
}
.featureIcon {
  height: 50px;
  width: 50px;
}

.featureCardHeader {
  margin-top: 0px;
  font-weight: lighter;
  color: #673ab7;
  padding-top: 10px;
}

.featureCardDescription {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
}
.featuresButton {
  padding: 1em 4em;
}

.findOutMoreSection {
  padding-top: 2em;
  padding-bottom: 10px;
}
.headerContent {
  background-image: url(https://images.unsplash.com/photo-1496151763167-abae6c394463?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6a4aa6ece68e66e42194232facde8e88&auto=format&fit=crop&w=1500&q=80) !important;
  background-position: center;
  background-size: cover !important;
  height: 90vh;
  min-height: 500px;
}
.climarklogo {
  text-align: left;
  font-size: 40px;
  padding: 15px 0 0 15px;
  color: beige;
}

.contentSection {
  height: 45vh;
  padding: 2em 1em;
  /* background: red */
}
.headerSectionButtonContainer {
  padding: 2em 1em;
  padding-left: 1.5em;
}
.headerBannerContainer {
  padding: 2em 1em;
  padding-left: 1.5em;
}
.headerBanner {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 1em;
  padding-bottom: 4em;
  color: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(105, 105, 105, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(105, 105, 105, 1);
  box-shadow: 0px 0px 5px 0px rgba(105, 105, 105, 1);
}
.headerBannerContentContainer {
  padding: 2em 0.5em;
}
.headerBannerHeader {
  color: #ffffff;
  font-size: 1.5em;
  font-family: "montserrat";
}
.headerBannerContent {
  font-size: 1em;
  font-family: "montserrat";
}
.headerSectionButton {
  padding: 1em 5em;
}
.climarklogo2 {
  height: 100px;
  width: auto;
}
.sloganDescription {
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1em;
  font-family: "montserrat";
}

/*
Dasbhoard section
*/
.dashboardSection {
  padding-top: 1em;
  background: #f4f4f4;
}

.dashboardImage {
  width: 100%;
  height: 100%;
}

.dashboardContent {
  max-width: 300px;
  padding: 1em 0em 2em 0.5em;
  font-size: 1em;
  font-family: "montserrat";
}
.dashboardButton {
  margin: 0 auto;
  text-align: center;
  padding: 0.5em 0.2em;
  width: 100%;
}

/*
sponsors section
*/
.sponsorsSection {
  padding: 2em;
}
.sponsorImage {
  height: 120px;
  width: auto;
  opacity: 0.7;
}
.sponsorContent {
  max-width: 300px;
  padding: 1em 0em 2em 0em;
  font-size: 1em;
  font-family: "montserrat";
}

.logosContainer {
  /* vertical-align: middle; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

/*Footer Section*/
.footerSection {
  padding: 2em;
  background: #3b4045;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footerHeading {
  font-family: "montserrat";
  color: #f3eadaad;
}
.footerContent {
  color: #f3eadaad;
  font-family: "montserrat";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .featuresContent {
    padding: 0em;
    padding-top: 1.5em;
  }
  .findOutMoreSection {
    text-align: center;
  }
  .featuresButton {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}

.Iam {
  /* padding: 2em 5em; */
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  -o-animation: move 5s;
  animation: move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .findOutMoreSection {
    padding-left: 15px;
  }

  .headingDescription {
    /* font-size: 2em; */
  }

  .headerBannerHeader {
    font-size: 2.5em;
  }
  .headerBannerContent {
    font-size: 1.5em;
  }
  .dashboardContent {
    font-size: 1.5em;
  }
  .sponsorContent {
    font-size: 1.5em;
  }
  .featuresButton {
    min-width: 200px;
    text-align: center;
    margin: 0 auto;
  }

  .dashboardSection {
    padding-top: 5em;
  }
  .dashboardButton {
    padding: 1em 2em;
    padding: 1em 2em;
    margin: 0 auto;
    text-align: center;

    width: 90%;
  }
  .sponsorsSection {
    padding: 5em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sloganDescription {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
    font-family: "montserrat";
    padding-left: 400px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .headerContent {
    height: 85vh;
  }
  .contentSection {
    height: 50vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
