body {
  background-color: #ffffff;
}
.containeryakwanza {
  padding: 100px;
}

.bannerContainer {
  padding-top: 5em;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.banner {
  background-image: url(https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) !important;
  background-size: cover !important;
  background-position: center center !important;
}

.contentBlock {
  background-color: #f2c318 !important;
}

.menu {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.heading {
  color: black;
  font-size: "2.5em";
  font-weight: "normal";
  margin-bottom: 0;
  margin-top: "5em";
}
.description {
  font-size: 1.33em;
}
.heading {
  font-family: "Aldrich", sans-serif;
}

.featuerHeader {
  padding-bottom: 2em;
  font-weight: lighter;
}
.featuresContent {
  padding-top: 4em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
.featureCard {
  background: #f4f4f4;
  padding: 15px 10px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.advisoryCard {
  background: #f2ecfd;
  padding: 15px 10px;
  border-radius: 5px;
  padding-bottom: 30px;
}
.featureIcon {
  height: 50px;
  width: 50px;
}

.featureCardHeader {
  margin-top: 0px;
  font-weight: lighter;
  color: #673ab7;
  padding-top: 10px;
}

.featureCardDescription {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
}

.outlineButton {
  border: solid 1px #673ab7;
  padding: 10px 30px;
  border-radius: 2px;
  background-color: #ffffff;
  color: #673ab7;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.findOutMoreSection {
  padding-top: 2em;
  padding-bottom: 10px;
}
.headercontent {
  background-image: url(https://images.unsplash.com/photo-1496151763167-abae6c394463?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6a4aa6ece68e66e42194232facde8e88&auto=format&fit=crop&w=1500&q=80) !important;
  background-size: cover !important;
  height: 90vh;
}
.climarklogo {

  text-align:left;
  font-size: 40px;
  padding: 15px 0 0 15px;
  color: beige;
 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .featuresContent {
    padding: 0em;
    padding-top: 1.5em;
  }
  .findOutMoreSection {
    text-align: center;
  }
  .outlineButton {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .findOutMoreSection {
      padding-left: 15px;
    }
    .outlineButton {
      min-width: 200px;
      text-align: center;
      margin: 0 auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
