body {
  background-color: #ffffff;
}
.containeryakwanza {
  padding: 100px;
}

.bannerContainer {
  padding-top: 5em;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.banner {
  background-image: url(https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) !important;
  background-size: cover !important;
  background-position: center center !important;
}

.contentBlock {
  background-color: #f2c318 !important;
}

.menu {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.heading {
  color: black;
  font-size: "2.5em";
  font-weight: "normal";
  margin-bottom: 0;
  margin-top: "5em";
}
.description {
  font-size: 1.33em;
}
