.AdvisoryHeader {

    font-size: 20px  !important; 
    font-weight: bold;
    padding-bottom: 30px !important;
}
.ImplicationHeader {
    font-size: 20px  !important; 
    font-weight: bold;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}