* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #f2f2f2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;


}

h1{
  margin-bottom: $space;
  font-size:1.5rem;
}

h2 {
  font-weight: 300;
  font-size:$base-font-size;
  margin-bottom: $space;
}

p {
  margin-bottom: $space;
  font-size: 1.2rem;
}

a {
  color: black;
}

input[type=text], input[type=email], input[type=password]{
  border:1px solid #dddddd;
  font-size: $base-font-size;
  margin-bottom:1.4rem;
  padding:.8rem;
}
