// Colors
$grey: #dddddd;
$brand-primary: #5b4681;
$light-grey:#f9f9f9;
$white:#ffffff;

// Spacing
$space:1.3rem;
$site-max-width:100rem;

// Font sizes
$base-font-size: 1rem;
$large-font-size:1.5rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

// Button
$button-bg: #ffffff;
$button-color: white;
$button-pill-color: #66ccff;

//header
$header-bg:$brand-primary;
$header-color:white;

//item
$item-bg:$light-grey;
$item-border:darken($item-bg, 8%);

//sub item
$sub_item-bg:$white;
