.tempdisplays {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.temparaturevalue {

    font-size: 40pt
}
.temparaturesigns {
    position: relative;
    bottom: 25px;
  }
  .weektemparaturesign {
    position: relative;
    bottom: 5px;
    font-size: 10pt;
  }

.tempdisplay{
    font-weight: lighter;
    color: #808080;
}

.ui-header{
    background: red
}