.tempdisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.temparaturevalue {
  font-size: 40pt;
}

.ui-header {
  background: red;
}

.dailyObservationSectionHeader {
  padding: 20px 25px;
}
